<aside id="leftsidebar" class="sidebar">
 
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li [routerLink]="['/admin/dashboard']" [routerLinkActive]="['active']">
                <a href="javascript:void(0);">
                    <i class="fal fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li [routerLink]="['/admin/menus']" [routerLinkActive]="['active']">
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="fal fa-align-left"></i>
                    <span>Menus</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="javascript:void(0);">
                            <span>Menu Lists</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span>Create Menu</span>
                        </a>
                    </li>
                   
                </ul>
            </li>
            <li [routerLink]="['/admin/categories']" [routerLinkActive]="['active']">
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">category</i>
                    <span>Category</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="javascript:void(0);">
                            <span>Fashion</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span>Electronics</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <span>Gift</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; 2020 <a href="javascript:void(0);">Fav Shop</a>.
        </div>
        <div class="version">
            <b>Version: </b> 1.0.0
        </div>
    </div>
    <!-- #Footer -->
</aside>