<app-header></app-header>
<app-left-nav></app-left-nav>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                <button [routerLink]="['/admin/gallery/manage-instrument-gallery']" type="button"
                    class="btn btn-default btn-circle waves-effect waves-circle waves-float">
                    <i class="material-icons">keyboard_arrow_left</i>
                </button> &nbsp;&nbsp;&nbsp;Managae Instrument Details.</h2>
        </div>

        <!-- Horizontal Layout--> 
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Add Instrument Details
                        </h2>
                        
                    </div>

                    <div class="body">
                        <div id="wizard_horizontal">
                        
                            <section>
                                <fieldset>
                                    
                                    <form #form="ngForm" autocomplete="off">
                                    <div class="form-group ">
                                        <div class="rows"><br>
                                        <div class="col-md-4">
                                            <label  for="name">Gym Id</label>
                                            <input type="text" class="form-control" id="gymid" placeholder="Enter Gym Id" name="GymId" #GymId="ngModel"
                                            [(ngModel)]="service.formData.GymId" required>
                                        <div class="validation-error"
                                            *ngIf="GymId.invalid && GymId.touched">This field is required.
                                        </div>
                                        </div>
                                         <div class="col-md-4">
                                            <label  for="name">  Id</label>
                                            <input type="text" class="form-control" id="activityid" placeholder="Enter Activity Id" name="InstrumentId" #InstrumentId="ngModel"
                                            [(ngModel)]="service.formData.InstrumentId" required>
                                        <div class="validation-error"
                                            *ngIf="InstrumentId.invalid && InstrumentId.touched">This field is required.
                                        </div>
                                         </div>
                                         <div class="col-md-4">
                                            <label  for="name"> Image</label>
                                            <input type="file" id="iimage" name="InstrumentImage" #InstrumentImage="ngModel"
                                            [(ngModel)]="service.formData.InstrumentImage" required>
                                        <div class="validation-error"
                                            *ngIf="InstrumentImage.invalid && InstrumentImage.touched">This field is required.
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="rows">
                                        
                                         <div class="col-md-6">
                                            <label  for="name">Name of Instrument</label>
                                            <input type="text" class="form-control" id="activityname" placeholder="Enter Activity Name" name="InstrumentName" #InstrumentName="ngModel"
                                            [(ngModel)]="service.formData.InstrumentName" required>
                                        <div class="validation-error"
                                            *ngIf="InstrumentName.invalid && InstrumentName.touched">This field is required.
                                        </div>
                                         </div>
                                         <div class="col-md-6">
                                            <label  for="name">Created Date</label>
                                            <input type="date" class="form-control" id="cdate" placeholder="Enter Created Date" name="CreatedDate" #CreatedDate="ngModel"
                                            [(ngModel)]="service.formData.CreatedDate" required>
                                        <div class="validation-error"
                                            *ngIf="CreatedDate.invalid && CreatedDate.touched">This field is required.
                                        </div>
                                         </div>
                                         
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="rows"><br>
                                            
                                            <div class="col-md-6">
                                                <label  for="name">Description</label>
                                                <textarea name="Description" id="description" placeholder="Description" class="form-control" cols="30" rows="5"
                                                        class="form-control no-resize" #Description="ngModel"
                                                        [(ngModel)]="service.formData.Description" required></textarea>
                                                    <div class="validation-error"
                                                        *ngIf="Description.invalid && Description.touched">This field is required.
                                                    </div>
                                             </div>
                                         
                                        </div>
                                    </div>
                                    
                                    <div class="form-group ">
                                        <div class="rows"><br>
                                        
                                            <div class="col-md-6">
                                                <label  for="name">Instrument Price</label>
                                                <input type="date" class="form-control" id="iprice" placeholder="Enter Price" name="InstrumentPrice" #InstrumentPrice="ngModel"
                                                [(ngModel)]="service.formData.InstrumentPrice" required>
                                            <div class="validation-error"
                                                *ngIf="InstrumentPrice.invalid && InstrumentPrice.touched">This field is required.
                                            </div>
                                             </div>
                                         <div class="col-md-6">
                                            <label  for="name">Status</label>
                                            <select id="astatus" class="form-control" name="ActiveStatus" #ActiveStatus="ngModel"
                                            [(ngModel)]="service.formData.ActiveStatus" required>
                                                <option selected disabled> Active Status </option>
                                                <option value="active">Active</option>
                                                <option value="inactive">Inactive</option>
                                               
                                            </select>
                                            
                                                    <div class="validation-error"
                                                        *ngIf="ActiveStatus.invalid && ActiveStatus.touched">This field is required.
                                                    </div>
                                         </div>
                                         <div class="col-md-12">
                                            <input type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid" id="" name="submit" value="submit">
                                           
                                            <input type="reset" class="btn btn-secondary btn-lg" id="" name="reset" value="Reset">
                                           </div>
                                        </div>
                                    </div>
                                    
                                   </form>
                                </fieldset>
                            </section>

                            

                            

                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- #END# Horizontal Layout -->
    </div>
</section>