<app-header></app-header>
<app-left-nav></app-left-nav>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                <button [routerLink]="['/admin/products']" type="button"
                    class="btn btn-default btn-circle waves-effect waves-circle waves-float">
                    <i class="material-icons">keyboard_arrow_left</i>
                </button> &nbsp;&nbsp;&nbsp;Add Enquery Details.
            </h2>
        </div>

        <!-- Horizontal Layout-->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            ENQUERY FORM
                        </h2>

                    </div>

                    <div class="body">
                        <div id="wizard_horizontal">

                            <section>
                                <fieldset>

                                    <form #form="ngForm" autocomplete="off">
                                        <div class="form-group ">
                                            <div class="rows"><br>
                                                <div class="col-md-4">
                                                    <label for="name">Gym Id</label>
                                                    <input type="text" class="form-control" id="gymid"
                                                        placeholder="Enter Gym Id" name="GymId" #GymId="ngModel"
                                                        [(ngModel)]="service.formData.GymId" required>
                                                    <div class="validation-error"
                                                        *ngIf="GymId.invalid && GymId.touched">This field is required.
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="name"> Full Name</label>
                                                    <input type="text" class="form-control" id="fname"
                                                        placeholder="Enter Full Name" name="Name" #Name="ngModel"
                                                        [(ngModel)]="service.formData.Name" required>
                                                    <div class="validation-error" *ngIf="Name.invalid && Name.touched">
                                                        This field is required.
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="name">Gender </label>
                                                    <select id="astatus" class="form-control" name="Gender"
                                                        #Gender="ngModel" [(ngModel)]="service.formData.Gender"
                                                        required>
                                                        <option selected disabled> Active Status </option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>

                                                    </select>

                                                    <div class="validation-error"
                                                        *ngIf="Gender.invalid && Gender.touched">This field is required.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div class="rows">
                                                <div class="col-md-4">
                                                    <label for="name">Current Weight</label>
                                                    <input type="text" class="form-control" id="cweight"
                                                        placeholder="Enter Current Weight" name="CWeight"
                                                        #CWeight="ngModel" [(ngModel)]="service.formData.CWeight"
                                                        required>
                                                    <div class="validation-error"
                                                        *ngIf="CWeight.invalid && CWeight.touched">This field is
                                                        required.
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="name">Height</label>
                                                    <input type="text" class="form-control" id="height"
                                                        placeholder="Enter Height" name="Height" #Height="ngModel"
                                                        [(ngModel)]="service.formData.Height" required>
                                                    <div class="validation-error"
                                                        *ngIf="Height.invalid && Height.touched">This field is required.
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="name">Image</label>
                                                    <input type="file" id="image" name="Image" #Image="ngModel"
                                                        [(ngModel)]="service.formData.Image" required>
                                                    <div class="validation-error"
                                                        *ngIf="Image.invalid && Image.touched">This field is required.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div class="rows">
                                                <div class="col-md-3">
                                                    <label for="name">Date of Birth</label>
                                                    <input type="date" class="form-control" id="dob"
                                                        placeholder="Enter Date of Birth" name="DOB" #DOB="ngModel"
                                                        [(ngModel)]="service.formData.DOB" required>
                                                    <div class="validation-error" *ngIf="DOB.invalid && DOB.touched">
                                                        This field is required.
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="name">Age</label>
                                                    <input type="number" class="form-control" id="age"
                                                        placeholder="Enter Age" name="Age" #Age="ngModel"
                                                        [(ngModel)]="service.formData.Age" required>
                                                    <div class="validation-error" *ngIf="Age.invalid && Age.touched">
                                                        This field is required.
                                                    </div>
                                                </div>


                                                <div class="col-md-3">
                                                    <label for="name">Blood Group</label>
                                                    <input type="text" class="form-control" id="dob"
                                                        placeholder="Enter Date of Birth" name="BloodGroup"
                                                        #BloodGroup="ngModel" [(ngModel)]="service.formData.BloodGroup"
                                                        required>
                                                    <div class="validation-error"
                                                        *ngIf="BloodGroup.invalid && BloodGroup.touched">This field is
                                                        required.
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="name">Address</label>
                                                    <textarea name="Address" id="address" placeholder="address"
                                                        class="form-control" cols="30" rows="5"
                                                        class="form-control no-resize" #Address="ngModel"
                                                        [(ngModel)]="service.formData.Address" required></textarea>
                                                    <div class="validation-error"
                                                        *ngIf="Address.invalid && Address.touched">This field is
                                                        required.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <div class="rows"><br>
                                                <div class="col-md-4">
                                                    <label for="name">Phone Number</label>
                                                    <input type="tel" class="form-control" id="phone"
                                                        placeholder="Enter Phone No" name="Phone" #Phone="ngModel"
                                                        [(ngModel)]="service.formData.Phone" required>
                                                    <div class="validation-error"
                                                        *ngIf="Phone.invalid && Phone.touched">This field is required.
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="name"> Mobile</label>
                                                    <input type="tel" class="form-control" id="mobile"
                                                        placeholder="Enter Mobile No" name="Mobile" #Mobile="ngModel"
                                                        [(ngModel)]="service.formData.Mobile" required>
                                                    <div class="validation-error"
                                                        *ngIf="Mobile.invalid && Mobile.touched">This field is required.
                                                    </div>
                                                </div>


                                                <div class="col-md-4">
                                                    <label for="name">Email</label>
                                                    <input type="email" class="form-control" id="email"
                                                        placeholder="Enter Email" name="Email" #Email="ngModel"
                                                        [(ngModel)]="service.formData.Email" required>
                                                    <div class="validation-error"
                                                        *ngIf="Email.invalid && Email.touched">This field is required.
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <input type="submit" class="btn btn-primary btn-lg"
                                                        [disabled]="form.invalid" id="" name="submit" value="submit">

                                                    <input type="reset" class="btn btn-secondary btn-lg" id=""
                                                        name="reset" value="Reset">
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </fieldset>
                            </section>






                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- #END# Horizontal Layout -->
    </div>
</section>